body {
    background-color: #f0edeeff;
    font-family: 'Didact Gothic', sans-serif;
}

.navbar-nav .nav-item.active .nav-link {
    color: #f0edeeff; /* Change this to the color you want */
}
.custom-margin {
    margin-top: 9rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.5s ease; /* Add transition for opacity property */
}

.custom-margin.active {
    opacity: 1; /* When the 'active' class is added, set opacity to 1 */
}
.custom-image {
    width: 100%;
    max-width: none;
    height: auto;
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-margin {
    margin-top: 9rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    max-width: 800px;
    animation: slideUp 0.5s ease; /* Apply the animation */
}